nav{
    display: flex;
    justify-content: space-between;
    margin:0 30px;
}
nav div{
    display: flex;
    gap: 30px;
}
nav a{
    text-decoration: none;
    font-size: 20px;
}
.form-container{
    margin:20px 0;
    /* border:2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
form{
    display:flex;
    flex-direction: column;
    gap:20px;
    margin: 20px 0;
    width:50%;
    /* border:2px solid red; */
    padding: 10px;
    /* align-items:center; */
    
}
form input{
    padding: 10px 0px;
}
::placeholder{
    font-size:15px;
}