.container{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    gap:15px;
    
}

.food{
    border:2px solid green;
    border-radius: 10px;
    padding:15px;
 
}

.food img{
    width:100%;
    border-radius: 10px;
    
}



/* smaller devices */
@media screen and (max-width:460px){
    .container{
        grid-template-columns:repeat(1, 1fr)
    }
}

/* medium devices */
@media screen and (min-width:461px) and (max-width:793.6px){
    .container{
        grid-template-columns: repeat(2,1fr);
    }
}