h3{
    margin:auto;
    background-color: azure;
    color:chocolate;
}

.container{
    height: 350px;
    border:1px solid red;
    display: flex;
    justify-content: space-evenly;
    align-items:start;
    flex-direction:row-reverse;
    flex-wrap:wrap;
}

.box{
    padding: 15px;
    font-size: 20px;
    width: 50px;
    height: 50px;
    border:2px rgb(11, 2, 250) dotted;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:  center;
}